.item {
  display: flex;
  margin-top: 70px;
  display: flex;
  flex-direction: column;

  &_title {

    display: flex;
    align-items: center;

    &_text {
      font-family: $drukcyr;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 41px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white;
    }

    &_number {
      margin-right: 27px;
      background: rgba(101, 255, 231, 0.1);
      border: 1px dashed $green_white;
      box-sizing: border-box;

      font-family: $drukcyr;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $green_white;
      border-radius: 50%;

      width: 62px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &_description {
    margin-top: 20px;
    font-family: $geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: $text-gray;
  }

  .side {

    &_covers {
      display: flex;
      margin-top: 60px;
    }

    &_cover {
      background-repeat: no-repeat;
      height: 300px;
      border-radius: 0px 40px;

      &:first-child {
        border-radius: 40px 0px;
      }

      &_wrapper {
        width: 100%;
        position: relative;

        &:first-child {
          margin-right: 20px;
          border-radius: 40px 0px;
        }

        .button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.hover {
        background: $menu-color;
        opacity: 0.1;
        border-radius: 0px 40px;

        &:first-child {
          border-radius: 40px 0px;
        }
      }
    }
  }
}
