.uploadNow {
  background: $black-background;
  padding-bottom: 160px;

  @include phone() {
    padding-top: 60px;
    padding-bottom: 0;
  }

  &_title {
    color: $white;
    font-family: $drukcyr;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-left: 4px solid $green_white;
    padding-left: 33px;
    margin-bottom: 75px;
    margin: 0 112px 43px 112px;

    @include phone() {
      font-size: 15px;
      line-height: 18px;
      height: 38px;
      display: flex;
      align-items: center;
      padding-left: 15px;
      margin-bottom: 0;
      margin: 0 27px 0 27px;
    }

    &_bottom {
      margin-top: 95px;
      border-left: 4px solid $pink;
      display: flex;
      justify-content: space-between;

      @include phone() {
        margin-top: 60px;
      }
    }
  }

  &_arrows {
    width: 126px;
    height: 61px;
    border: 1px solid $pink;
  }

  &_description {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 145%;
    color: $text_gray;
    margin-top: 43px;

    letter-spacing: 0.04em;
    margin: 0 112px 86px 112px;

    @include phone() {
      margin: 24px 27px 0px 27px;
      font-size: 12px;
    }

    &.more {
      @include phone() {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
    }
  }

  .more_button {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.04em;
    color: $green_white;
    margin: 24px 27px 0px 27px;

    display: block;

    text-shadow: 0px 1px 42px $black;
    cursor: pointer;
    margin-top: 10px;
  }

  .carousel {
    margin-top: 86px;
    @include phone() {
      margin-top: 33px;
    }
    user-select: none;
    
    &_block { 
      &:last-child {
        margin-top: 20px;

        @include phone() {
          margin-top: 10px;
        }
      }
    }

    &_item {
      opacity: 0.3;
      border-radius: 19px;
      min-width: 215px;

      div {
        border-radius: 19px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}