.main_section {

  position: absolute;
  top: 0;
  width: 100%;
  background-color: $main-color;

  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  &_wrapper {
    display: flex;
    width: 100%;

    @include scale((
      padding-left: [0, 0, 235px],
      margin-top: [120px, 120px, 185px],
      margin-bottom: [0, 0, 100px]
    ));

    @include phone() {
      flex-direction: column;
    }
  }

  &_block {
    width: 550px;
    @include phone() {
      width: auto;
    }
  }

  &_img {
    &_block {
      width: 563px;
      height: 563px;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;

      @include phone() {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 356px;
      }
    }
  }

  &_button {
    margin-top: 36px;

    @include phone() {
      display: flex;
      justify-content: center;
    }
  }
}

.pink_text {
  color: $pink;
}
