$text-gray: #A1A3B0;
$main-color: #111720;
$menu-color: #080A17;
$black: #000000;
$pink: #EF208A;
$white: #FFFFFF;
$border_variant: #191B29;
$green_white: #65FFE7;
$border-gray: #373D52;
$text-silent: #4C4F5F;
$border-gray2: #3B3F67;
$border-line: #232432;
$black-background: rgba(0, 0, 0, 0.42);

$colorsList: (
  "text-gray": $text-gray,
  "main-color": $main-color,
  "pink": $pink,
  "white": $white,
  "border_variant": $border_variant,
  "menu-color": $menu-color,
  "black" : $black,
  "green_white": $green_white,
  "border-gray": $border-gray,
  "text-silent": $text-silent,
  "border-gray2": $border-gray2,
  "border-line:": $border-line,
  "black-background": $black-background,
);
