$text-gray: #A1A3B0;
$main-color: #111720;
$menu-color: #080A17;
$pink: #EF208A;
$white: #FFFFFF;
$border_variant: #191B29;

$colorsList: (
  "text-gray": $text-gray,
  "main-color": $main-color,
  "pink": $pink,
  "white": $white,
  "border_variant": $border_variant,
  "menu-color": $menu-color,
);
