$geometria: "Geometria";
$drukcyr: "Druk Cyr Wide";

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Geometria-Regular.woff2") format("woff2"),
    url("../fonts/Geometria-Regular.woff") format("woff");
}

@font-face {
  font-family: "Geometria";
  font-style: bold;
  font-weight: bold;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"),
    url("../fonts/Geometria-Bold.woff") format("woff");
}

@font-face {
  font-family: "Druk Cyr Wide";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Druk-Text-Wide-Cyr-Medium.woff2") format("woff2"),
    url("../fonts/Druk-Text-Wide-Cyr-Medium.woff") format("woff");
}