.header {
  position: fixed;
  display: flex;
  align-items: center;

  @include scale((
    height: [70px, 100px, 100px],
  ));

  @include container();

  &_logo {
    @include scale((
      margin-right: [70px, 75px, 75px],
    ));
  }

  &_aside {
    display: flex;
    align-items: center;

    margin-left: auto;

    @include scale((
      margin-right [70px, 75px, 140px],
    ));

    &_item {
      display: flex;
      align-items: center;
      margin-right: 55px;
    }
  }

  &_menu {

    display: flex;
    justify-content: space-between;

    @include scale(
      (
        gap: 64px,
      )
    );

    &_item {
      display: flex;
      align-items: center;

      /* identical to box height */
      color: $text-gray;
      font-size: 15px;
      font-weight: normal;
      line-height: 19px;
      text-decoration: none;

      text-transform: uppercase;

      svg {
        margin-right: 14px;
      }

      &.active,
      &:hover {
        color: $pink;
    
        & > .svg {
          background: $pink;
        }
      }
    }
  }
}
