.header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 42px;
  // margin-left: 135px;
  // margin-right: 135px;
  

  @include scale((
    height: 100px,
    margin-left: 135px, 
    margin-right: 135px, 
  ));

  // @include container();

  &_logo {
    @include scale((
      margin-right: [70px, 75px, 75px],
    ));
  }

  &_aside {
    display: flex;
    align-items: center;

    @include scale((
        margin-left 150px,
      ));

    &_item {
      display: flex;
      align-items: center;
      margin-right: 55px;
    }
  }

  &_menu {

    display: flex;
    justify-content: space-between;


    &_item {
      display: flex;
      color: $text-gray;
      font-size: 15px;
      font-weight: normal;
      line-height: 19px;
      text-decoration: none;
      text-transform: uppercase;

      @include scale((
        margin-right: 50px,
      ));

      svg {
        margin-right: 14px;
      }

      &.active,
      &:hover {
        color: $pink;
    
        & > .svg {
          background: $pink;
        }
      }
    }
  }
}
