.roadmap {
  background: linear-gradient(180deg, rgba(239, 32, 138, 0.1) 0%, rgba(3, 3, 6, 0) 100%);

  @include phone() {
    background: inherit; 
    padding-top: 46px;
  }

  &_timeline {
    width: 100%;
    height: 4px;
    position: relative;
    background: linear-gradient(90deg, rgba(239, 32, 138, 0.3) -1.92%, #EF208A 53.15%, rgba(239, 32, 138, 0.3) 107.08%);

    @include phone() {
      display: none;
    }

    &_wrapper {
      display: flex;
      justify-content: space-around;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
    }

    &_dots {
      border: 1px solid rgba(239, 32, 138, 0.44);
      border-radius: 50%;
      width: 46px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;

      label > input[type="radio"] {
        display: none;
      }
      label > input[type="radio"] + *::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border-style: solid;
        border-width: 3px;
        border-color: $white;
      }
      label > input[type="radio"] + * {
        color: $white;
      }
      label > input[type="radio"] + *::before {
        background: $pink;
        border-color: $white;
        border-width: 6px;
      }

      &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

  }

  &_content {
    padding: 68px 150px 0 150px;
    justify-content: space-between;
    display: flex;

    @include phone() {
      flex-direction: column;
      padding: 0px 23px 0px 10px;
    }

    &_wrapper {
      @include phone() {
        display: flex;
      }
    }

    &_mobile_timeline {
      margin-right: 13px;
      padding: 12px;

      &_item {
        display: none;
        @include phone() {
          font-family: $drukcyr;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
        
          text-align: center;
          
          color: $white;

          background: #212121;
          box-shadow: 0px 1px 21px rgba(0, 0, 0, 0.93);
          width: 39px;
          height: 39px;   
          border-radius: 50%;
          display: flex;  
          justify-content: center;
          align-items: center;
          margin-right: 13px;
          padding: 12px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 37px;
            bottom: 0;
            background-color: $pink;
            width: 2px;
            height: 245px;
          }
        }
      }
    }

    &_item {
      width: 278px;
      @include phone() {
        width: 280px;
        display: flex;
        flex-direction: row;
      }
      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        color: $pink;
        margin-bottom: 25px;

        @include phone() {
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 10px;
        }
      }
      &_description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: $text_gray;
        margin-bottom: 22px;

        @include phone() {
          font-size: 12px;
          line-height: 15px;
        }
      }
      &_list {
        &_title {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: $white;
          margin-bottom: 17px;

          @include phone() {
            font-size: 15px;
            line-height: 19px;
            margin-bottom: 23px;
          }
        }
        &_content {
          font-style: normal;
          font-weight: normal;
          font-size: 19px;
          line-height: 130%;
          color: $text_gray;
          padding-left: 20px;

          @include phone() {
            font-size: 12px;
            margin-bottom: 31px;
          }
        }
      }
    }
  }
}