.codeHiperium {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.04%, rgba(0, 0, 0, 0.42) 100%), url('/static/images/codeHyperium.png');
  padding-top: 60px;
  padding-left: 112px;
  padding-right: 112px;

  @include phone() {
    padding-top: 20px;
    padding: 0;
    padding-bottom: 34px;
  }

  .title {
    font-family: $drukcyr;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;

    @include phone() {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 145%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white;
    margin: 60px 0;
    padding-bottom: 80px;
    padding-left: 65px;
    padding-right: 65px;

    border-bottom: 1px solid $border-gray;

    @include phone() {
      font-size: 12px;
      margin: 20px 0 40px 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
    }
  }

  .content {
    &_head {
      display: flex;
      justify-content: center;
      margin-left: 70px;

      @include phone() {
        align-items: center;
        margin-left: 0;
      }

      &_side {
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 57px;
        text-transform: uppercase;
        color: $text-silent;

        &:not(:last-child) {
          margin-right: 50px;

          @include phone() {
            margin-right: 16px;
          }
        }

        &.active {
          color: $white;
        }

        &_button {
          margin-right: 51px;
          display: flex;
          align-items: center;

          @include phone() {
            margin-right: 16px;
          }
        }

        @include phone() {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

    &_main {
      margin-top: 56px;
      display: flex;

      @include phone() {
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
      }
    }

    &_avatar {
      border: 1px solid $border-gray2;
      box-sizing: border-box;
      width: 454px;
      height: 491px;
      padding: 10px;

      @include phone() {
        width: 253px;
        height: 275px;
      }
    }

    &_text {
      max-width: 593px;
      margin-left: 95px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include phone() {
        width: auto;
        margin-left: 0;
        padding: 25px 27px 25px 27px;
      }

      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 32px;
        color: $white;

        @include phone() {
          font-size: 25px;
          line-height: 31px;
          margin-bottom: 16px;
        }
      }

      &_description {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 145%;

        letter-spacing: 0.04em;
        
        color: $text-gray;

        @include phone {
          font-size: 12px;
        }

        &.more {
          @include phone() {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
        }
      }

      .more_button {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0.04em;
        color: $green_white;
        display: block;

        text-shadow: 0px 1px 42px $black;
        cursor: pointer;
        margin-top: 10px;
      }
    }

    &_borderedBlock {
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 145%;
      text-align: center;
      letter-spacing: 0.04em;
      background: linear-gradient(91.09deg, rgba(101, 255, 231, 0.05) 1.27%, rgba(101, 255, 231, 0) 95.16%);
      padding: 54px 37px;
      color: $white;
      margin-top: 66px;
      position: relative;

      @include phone {
        padding: 18px;
        font-size: 10px;
        margin-top: 0;
        margin-left: 27px;
        margin-right: 27px;
      }

      &:before,
      &:after {
        content: ' ';
        position: absolute;
        border: 2px solid rgba(101, 255, 231, 0.23);
        top: 0;
        bottom: 0;
        width: 13px;
      }
      &:before {
        border-right: 0;
        left: 0;
      }
      &:after {
        border-left: 0;
        right: 0;
      }
    }
  }
}


.text_green {
  color: $green_white;
}